@import "tailwindcss";


@layer utilities {

    .bg-darkblue  {
        @apply bg-[#182434]

    }


.container-custom {
    @apply w-full max-w-[70%] mx-auto;
  }

  @media (max-width: 767px) {
    .container-custom {
      @apply px-5;
    }
  }

  @media (min-width: 768px) {
    .container-custom {
      @apply w-[94%];
    }
  }

  @media (min-width: 1536px) {
    .container-custom {
      @apply w-[70%] max-w-[100%];
    }
  }





}

img{
    width: 100%;
    display: block;
}

.policy-list li:last-child a::after {
    display: none;
}
.policy-list li:first-child {
    padding-left: 0;
}








.recentimg-cover img{
    aspect-ratio: 16 / 11;
}